*,
html {
  margin: 0;
  padding: 0;
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MyCustomFont", sans-serif;
}

.upper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  background-color: #3fa555;
}
.logo {
  background-color: #3fa555;
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ul-atas {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}
.li-atas {
  list-style: none;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
  justify-content: space-evenly;
}

.a-navbar {
  text-decoration: none;
}

.REKOMENDASI {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 23px;
}

.REKOMENDASI2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 23px;
}

.card {
  width: 300px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-20px);
}

.card-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
  color: #000000;
}

.card-price {
  font-size: 16px;
  color: #000000;
}

.tambahan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.Button {
  width: 75px;
  border-radius: 15px;
  background-color: #64cf69;
  padding: 10px;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
}
.Button:hover {
  background-color: rgb(64, 211, 89);
  transition: 0.5s ease-in-out;
  transition-delay: 0.1s;
}

.main {
  background-color: #3fa555;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  flex-direction: column;
}

.tlp {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}
