*,
html {
  margin: 0;
  padding: 0;
}

.h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
}

@font-face {
  font-family: "MyCustomFont";
  src: url("Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MyCustomFont", sans-serif;
}

.upper {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 5px;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  color: rgb(0, 0, 0);

  text-align: center;
  z-index: 1000;
}
.logo {
  background-color: #ffffff;
}

.sampul {
  position: relative;
  display: inline-block;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.sampul img {
  width: 1300px;
  height: 400px;
  image-rendering: crisp-edges;
}
.GambarSampul {
  border-radius: 20px;
}

.text-sampul {
  position: absolute;
  right: 40%;
  top: 30%;
  transform: translate(-50%, -50%);

  color: rgb(0, 0, 0);

  font-size: 20px;
  border-radius: 5px;
}

.h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.ul-atas {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}
.li-atas {
  list-style: none;
  padding: 10px;
  margin: 5px;
  font-size: 20px;
  justify-content: end;
}

.a-navbar {
  text-decoration: none;
}

.REKOMENDASI {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 23px;
}

.REKOMENDASI2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 23px;
}

.card {
  width: 300px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 5px 5px grey;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
}
.card2 {
  width: 300px;
  height: auto;
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 5px 5px grey;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
}
.card2:hover {
  transform: translateY(-20px);
}
.promo {
  text-decoration: none;
}

.card:hover {
  transform: translateY(-20px);
}

.card-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin: 8px 0;
  color: #000000;
}

.card-price {
  font-size: 16px;
  color: #000000;
}

.tambahan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
}

.Button {
  width: 75px;
  border-radius: 15px;
  background-color: rgb(64, 211, 89);
  padding: 10px;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
}
.Button:hover {
  background-color: #248529;
  transition: 0.5s ease-in-out;
  transition-delay: 0.1s;
}

.main {
  background-color: #ffffff;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  flex-direction: column;
}

.tlp {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
}
